div.headertopSmall
div.headertopMiddle
  img(src="/images/encIPN2.png")
div.encApp
  div.row-fluid.show-grid
    div.span10
      img(src="/images/enc2.png")
    div.span2
      div.cont2
        a(href="/sessions/destroy" role="button" class="btn btn-large btn-block btn-danger" data-toggle="modal") 
          i.fui-power  &nbsp; &nbsp;Salir
