div.headertopSmall
      Inicio Inicio - Mapa de Sitio - Intraneta - SIFIIE - Correo electrónico
div.headertopMiddle
  img(src="images/encIPN2.png")
div.wall
  div.encWall
    div.row-fluid.show-grid
      div.span10
        img(src="images/enc2.png")
      div.span2
        div.cont2
          a(href="/sifiie" class="btn btn-large btn-block btn-info")
            Success Acceder
  div.conWall
    img(src="images/cgfie.png")