!!!
html
  head
    title= title
    link(rel='stylesheet', href='/cgfieStyle/bootstrap/css/bootstrap.css')
    link(rel='stylesheet', href='/cgfieStyle/bootstrap/css/bootstrap-responsive.css')
    link(rel='stylesheet', href='/cgfieStyle/css/flat-ui.css')
  body!= body