ul.nav.nav-list.bs-docs-sidenav.affix
  li
    div.btn-toolbar
      div.btn-group
        button.btn.btn-large Acciones de Formación
        button.btn.btn-large.dropdown-toggle(data-toggle='dropdown')
          span.caret
        ul.dropdown-menu
          li
            a(href='#') Registro
          li
            a(href='#') Dictaminar
          li
            a(href='#') Estado
          li
            a(href='#') Instrumentos

  li 

    div.btn-toolbar
      div.btn-group
        button.btn.btn-large Diagnóstico
        button.btn.btn-large.dropdown-toggle(data-toggle='dropdown')
          span.caret
        ul.dropdown-menu
          li
            a(href='#') Responder
          li
            a(href='#') Reportes

  li
    div.btn-toolbar
      div.btn-group
        button.btn.btn-large Administración
        button.btn.btn-large.dropdown-toggle(data-toggle='dropdown')
          span.caret
        ul.dropdown-menu
          li
            a(href='/sifiie/administracion/menu') Menu
          li
            a(href='/sifiie/administracion/roles') Roles
          li
            a(href='/sifiie/administracion/usuarios') Usuarios
          li
            a(href="/sifiie/administracion/unidades") Unidades
          li
            a(href='/sifiie/administracion/noticias') Noticias 
          li
            a(href='/sifiie/administracion/acervo') Acervo