ul.nav.nav-list.bs-docs-sidenav.affix
  li
    div.btn-toolbar
      div.btn-group
        button.btn.btn-large Acciones de Formación
        button.btn.btn-large.dropdown-toggle(data-toggle='dropdown')
          span.caret
        ul.dropdown-menu
          li
            a(href='#') Registro
          li
            a(href='#') Dictaminar
          li
            a(href='#') Estado
          li
            a(href='#') Instrumentos

  li 

    div.btn-toolbar
      div.btn-group
        button.btn.btn-large Diagnóstico
        button.btn.btn-large.dropdown-toggle(data-toggle='dropdown')
          span.caret
        ul.dropdown-menu
          li
            a(href='#') Responder
          li
            a(href='#') Reportes

  li
    div.btn-toolbar
      div.btn-group
        button.btn.btn-large Administración
        button.btn.btn-large.dropdown-toggle(data-toggle='dropdown')
          span.caret
        ul.dropdown-menu
          li
            a(href='#') Menu
          li
            a(href='#') Roles
          li
            a(href='#') Usuarios
          li
            a(href="/sifiie/escuelas") Unidades
          li
            a(href='#') Noticias 